[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
aiohttp = {extras = ["speedups"], version = "*"}
uvloop = "*"

[dev-packages]
isort = "*"
coverage = "*"
flake8 = "*"
mypy = "*"
wemake-python-styleguide = "==0.17.0"
pytest = "*"

[requires]
python_version = "3.10"
